:root {
  --bar-color: #000;
  --bar-font-color: #FFF;
  --bar-fontsize: 3vh;
  --bar-height: 7vh;
  --background: #333;
  --button-color: #222;
  --font-color: #888;
  --font-color-lowlight: #222;
}

body {
  background: #333;
  /*font-size: 2em;*/
}

div.content-with-player-bar {
	height: 85%;
}

div.page-search-input-area {
  height: var(--bar-height);
}

.input-search,
.newPlaylistInput {
	background-color: #ddd;
	border: 2px solid;;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
  height: 100%;
  font-size: 4vh;
}

.button {
  background-color: var(--button-color);
}

div.page {
  overflow-y: auto; height: 90%;
}

div.page-full {
  overflow-y: auto; height: 100%;
}

div.search-result-area {
  font-size: 1.4em;
}

div.search-result-area > div {
  color: #888;
}

div.search-result-area > div > div {
  border-bottom: 0.1em solid #333;
}

div.search-result-area > div > div:first-child {
  border-top: 0.1em solid;
}

div.search-result-area > div > div > img {
  height: 1.5em;
  width: 1.5em;
}

div.player {
  width: 100vw;
  /*left: 10%;*/
  position: absolute;
  /*top: 10%;*/
  height: 100vw;
}

div.player > jp-jplayer {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

span.btnAudioControl {
  color: #fff;
}

div.jp-progress {
  width: 100%;
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
  display: inline-block;
  height: 3vw;
}

div.jp-progress > div.jp-seek-bar {
  width: 100%;
  height: 3vw;
}

div.jp-progress > div.jp-seek-bar > div.jp-play-bar {
  background: rgba(255, 255, 255, 0.4) none repeat scroll 0% 0%;
  width: 0%;
  height: 3vw;
}

div.player-current-information {
  position: absolute;
  width: 100%;
  height: 7vh;
  text-shadow: 0px 0px 3px #000000;
  color: #fff;
}

div.player-current-information > div {
  display: unset;
  display: block;
  text-align: center;
  width: 100%;
}

div.player-current-information > div.player-current-title {
  font-weight: bold;
}


/*************************************************General List**************************************/
div.list {
  background: #222;
}

div.list-element {
  background: var(--background);
  border-bottom: 1px solid #222;
  height: 7vh;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 4vh;
}


/*************************************************Player Top Menu***********************************/

div.player-top-menu-entry > span,
div.player-bottom-menu-entry > span {
  color: #FFF;
  font-size: var(--bar-fontsize);
  margin: 0px auto;
  display: block;
  height: 100%;
  width: 40%;
  text-align: center;
  font-weight: bold;
}

div.player-top-menu-entry-center > span,
div.player-bottom-menu-entry-center > span {
  color: #FFF;
  font-size: var(--bar-fontsize);
  margin: 0px auto;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
}

div.player-top-menu {
  width: 100%;
  height: var(--bar-height);
  padding-top: 2%;
  background: var(--bar-color);
}

div.player-top-menu > div.player-top-menu-entry {
  width: 19vw;
  height: 50%;
  display: inline-block;
}

div.player-top-menu > div.player-top-menu-entry-center {
  width: 19vw;
  height: 50%;
  display: inline-block;
}

div.player-top-menu-entry > span.btnMpd {
  color: var(--font-color-lowlight);  
}

div.player-top-menu-entry > span.active,
div.player-top-menu-entry > span.active {
  color: var(--bar-font-color);
}

/**********************************************Player Bottom Menu***********************************/

div.player-bottom-menu {
  position: absolute;
  top: 93vh;
  width: 100%;
  height: var(--bar-height);
  background: var(--bar-color);
}

div.player-bottom-menu > div.player-bottom-menu-entry {
  width: 24vw;
  display: inline-block;
  padding: 2vh;
}

/************************************************Player Controls************************************/
div.player-controls {
  position: absolute;
  top: 80vh;
  height: 13vh;
  width: 60%;
  left: 20%;
}

div.player-controls > div.player-controls-entry {
  height: 100%;
  display: table-cell;
  position: relative;
  vertical-align: middle;
  width: 20vw;
}

div.player-controls > div.center {
  height: 100%;
  text-align: center;
}

div.player-controls > div.previous {
  text-align: right;
}

div.player-controls > div.next {
  text-align: left;
}

div.player-controls > div.player-controls-entry > span {
  font-size: 16vw;
  display: inline-block;
}

div.player-controls > div.previous > span,
div.player-controls > div.next > span {
  font-size: 12vw;
}

/************************************************Player Small***************************************/

div.player_bar {
  height: 10%;
  background: #111;
  position: absolute;
  top: 90%;
  /* left: 10px; */
  width: 100%;
  z-index: 100;
}

div.player_bar > div.player-bar-image-area {
  height: 100%;
  display: inline-block;
  float: left;
}

div.player_bar > div.player-bar-image-area > img {
  height: 100%;
}

div.player_bar > div.player-bar-info {
  display: inline-block;
  padding-left: 3%;
  height: 100%;
}

div.player_bar > div.player-bar-info > div.player-bar-title {
  display: block;
  color: #888;
  height: 50%;
  font-weight: bold;
  font-size: 1.2em;
}

div.player_bar > div.player-bar-info > div.player-bar-artist {
  display: block;
  height: 50%;
  font-weight: bold;
}

/************************************************Playlist*******************************************/

ul.playlist > li {
  background-color: #1B1B1B;
  margin-top: 1px;
}

ul.playlist > li > div {
  display: table;
  width: 100%;
  table-layout: fixed;
}

ul.playlist > li > div.playlist-row > div {
  display: table-cell;
}

ul.playlist > li > div > div.remover, 
ul.playlist > li > div > div.sort-handler {
  width: 10%;
  vertical-align: middle;
}

ul.playlist > li > div > div.content {
  width: 80%;
}

ul.playlist > li > div > div > a {
  color: #666;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

ul.playlist > li.jp-playlist-current > div > div > a {
  color: #aaa;
}

ul.playlist > li > div > div > a > span {
  font-weight: normal;
  color: #444;
}

ul.playlist > li > div > div > a.jp-playlist-item {
  font-size: 1em;
  text-decoration: none;
}

ul.playlist > li > div > div > a.jp-playlist-item-remove {
  font-weight: normal !important;
  color: #333 !important;
  text-align: center;
}

ul.playlist > li > div > div > a.jp-playlist-item-remove:hover {
  text-decoration: none;
  color: #ddd;
}

div.playlist-name-bar {
  height: 10%;
  color: #888;
  background-color: #111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#page-playlist > div.jp-audio {
  position: absolute;
  top: var(--bar-height);
  left: 0;
  overflow: scroll;
  height: 83vh;
  width: 100%;
}

/***********************************************Album List***************************************/

div.album-list > div.row {
  background: #000;
  border-bottom: 1px solid #111;
  margin-left: 0;
  margin-right: 0;
}

div.album-list > div.row > div.albumImage {
  width: 15%;
  display: inline-block;
  vertical-align: top;
}

div.album-list > div.row > div.albumImage > img {
  width: 100%;
  position: top;
}

div.album-list > div.row > div.albumInfo {
  width: 83%;
  display: inline-block;
  padding-left: 3%;
}

div.album-list > div.row > div.albumInfo > div.albumTitle {
  display: block;
  color: #888;
  font-size: 1.2em;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.album-list > div.row > div.albumInfo > div.songCount,
div.album-list > div.row > div.albumInfo > div.albumYear {
  display: inline-block;
  width: 49%;
  font-weight: bold;
}

div.album-list > div.row > div.albumInfo > div.albumYear {
  text-align: right;
}

/******************************************Album View***************************************/

div.page-album {
  padding: 0;
}

div.page-album-cover {
  height: 40%;
}

div.page-album-cover > div.page-album-title {
  color: #FFF;
  text-shadow: 0px 0px 10px #000;
  font-weight: bold;
  font-size: 1.4em;
  display: block;
  padding-left: 3%;
}

div.page-album-cover > div.page-album-artist {
  color: #FFF;
  text-shadow: 0px 0px 10px #000;
  top: 0%;
  padding-left: 3%;
  font-size: 1.2em;  
}

div.page-album-cover > div.page-album-songcount {
  color: #FFF;
  text-shadow: 0px 0px 10px #000;
  padding-left: 3%;
  position: absolute;
  bottom: 65%;
}

div.page-album-playlist {
  position: absolute;
  left: 0%;
  width: 100%;
  background: #333 none repeat scroll 0% 0%;
  top: 35%;
  height: 55%;
  overflow: auto;
}

div.page-album-playlist > div {
  width: 100%;
  background-color: #000;
  height: 20%;
}

div.page-album-playlist > div > div.page-album-song-title {
  float: left;
  font-size: 1.4em;
  padding-left: 5%;
  height: 100%;
  width: 85%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.page-album-playlist > div > div.page-album-song-add {
  background: #FFF none repeat scroll 0% 0%;
  height: 100%;
  float: left;
  display: table;
  text-align: center;
  width: 15%;
}

div.page-album-playlist > div > div.page-album-song-add > span {
  width: 80%;
  height: 80%;
  display: table-cell;
  vertical-align: middle;
}


/******************************************Artist Overview***************************************/


div.artistsOverview > div.listHeadline {
  color: #aaa;
  font-size: 12vw;
  padding-left: 2vw;
  line-height: 13vw;
}

div.artistsOverview > div.artist {
  color: #666;
}

div.artistsOverview > div.artist > img {
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

div.artistsOverview > div.artist > div {
  width: 83%;
  display: inline-block;
  padding-left: 3%;
  margin-top: 0.5vh;
}


/******************************************Playlists Overview***************************************/

div.playlistsOverview {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: var(--background);
}

div.playlistsOverview > div > div.playlist,
div.playlistsOverview > div.playlist,
div.page-playlists-new-playlist {
  color: #666;
  border-bottom: 1px solid #222;
}

div.page-playlists-new-playlist {
  height: 7vh;
}

div.playlistsOverview > div > div.playlist > div,
div.playlistsOverview > div.playlist > div {
  width: 83%;
  display: inline-block;
  padding-left: 3%;
  margin-top: 0.5vh;
}



.createPlaylistButton {
  width: 15vw;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.newPlaylistInputDiv {
  display: table-cell;
  width: 85vw;
}

/******************************************Artist Page***************************************/


div.artist-page-headline {
  /*display: table;*/
  background: rgb(17, 17, 17) none repeat scroll 0% 0%;
}

div.artist-page-headline > div {
  display: inline-block;
  width: 25%;
}

div.artist-page-headline > div > img {
  height: 25vw;
}

div.artist-page-headline > div.artist-page-artist-name {
  color: rgb(136, 136, 136);
  font-weight: bold;
  font-size: 1.6em;
  vertical-align: top;
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/******************************************Loading Page***************************************/

div.loadingPage {
  background: url(../img/reload.gif) no-repeat center center;
  background-size: 20vw 20vw;
  background-color: #222;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


/******************************************Volume Control***************************************/


div.volumeControl {
  background-color: #222;
  width: 80%;
  height: 10%;
  position: absolute;
  left: 10%;
  top: 40%;
}

div.volumeControl > div {
  background: rgb(17, 17, 17) none repeat scroll 0% 0%;
  width: 90%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 5%;
}

div.volumeControl > div > div {
  background: rgba(255, 255, 255, 0.4) none repeat scroll 0% 0%;
  height: 100%;
  width: 50%;
}

/******************************************Modal***************************************/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background: rgba(255, 255, 255, 0.4);
  color: #333;
}

/**************************************Settings Menu************************************/

.settingsMenuOverlay {
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.settingsMenu {
  background-color: #333;
  width: 80vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 20%;
}

.settingsMenu > div {
  color: #888;
  font-weight: bold;
  border-bottom: 1px solid #222;
  padding: 2vh 2vw 2vh 5vw;
}

/************************************MPD Selection Menu*********************************/

.mpdSelectionList > div {
  border-left: 5px solid #222;
}

.mpdSelectionList > div.active {
  border-left: 5px solid #0f0;
}

.mpdSelectionList > div.disabled {
  color: var(--font-color-lowlight);
}