body {
  background: #333;
  /*font-size: 2em;*/
}

div.content-with-player-bar {
	height: 85%;
}

.input-search {
	background-color: #ddd;
	border: 0;
	border-radius:18px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
  font-size: 2em;
}

div.page {
  overflow-y: auto; height: 90%;
}

div.page-full {
  overflow-y: auto; height: 100%;
}

div.search-result-area {
  font-size: 1.4em;
}

div.search-result-area > div {
  color: #888;
}

div.search-result-area > div > div {
  border-bottom: 0.1em solid #333;
}

div.search-result-area > div > div:first-child {
  border-top: 0.1em solid;
}

div.search-result-area > div > div > img {
  height: 1.5em;
  width: 1.5em;
}

div.player {
  width: 80vw;
  left: 10%;
  position: absolute;
  top: 15%;
  height: 80vw;
}

div.player > jp-jplayer {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

span.btnAudioControl {
  color: #fff;
}

span.btnAudioControlPrevious {
    font-size: 10vw;
    position: absolute;
    left: 15%;
    top: 113%;
}

span.btnAudioControlNext {
    font-size: 10vw;
    position: absolute;
    left: 70%;
    top: 113%;
}

span.btnAudioControlMain {
    font-size: 15vw;
    position: absolute;
    left: 40%;
    top: 110%;
}

div.jp-progress {
  width: 100%;
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
  display: inline-block;
  height: 5vw;
}

div.jp-progress > div.jp-seek-bar {
  width: 100%;
  height: 5vw;
}

div.jp-progress > div.jp-seek-bar > div.jp-play-bar {
  background: rgba(255, 255, 255, 0.4) none repeat scroll 0% 0%;
  width: 0%;
  height: 5vw;
}


/*************************************************Player Top Menu***********************************/

div.player-top-menu-entry > span,
div.player-bottom-menu-entry > span {
  color: #FFF;
  font-size: 5vw;
  margin: 0px auto;
  display: block;
  height: 100%;
  width: 40%;
  text-align: center;
}

div.player-top-menu-entry-center > span,
div.player-bottom-menu-entry-center > span {
  color: #FFF;
  font-size: 5vw;
  margin: 0px auto;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
}

div.player-top-menu {
  width: 100%;
  height: 10%;
  padding-top: 7%;
}

div.player-bottom-menu {
  position: absolute;
  top: 90%;
  width: 100%;
  height: 10%;
  padding-top: 5%;
}

div.player-top-menu > div.player-top-menu-entry {
  width: 39vw;
  height: 50%;
  display: inline-block;
}

div.player-top-menu > div.player-top-menu-entry-center {
  width: 19vw;
  height: 50%;
  display: inline-block;
}

/**********************************************Player Bottom Menu***********************************/

div.player-bottom-menu > div.player-bottom-menu-entry {
  width: 24vw;
  height: 50%;
  display: inline-block;
}

/************************************************Player Small***************************************/

div.player_bar {
  height: 10%;
  background: #111;
  position: absolute;
  top: 90%;
  /* left: 10px; */
  width: 100%;
}

div.player_bar > div.player-bar-image-area {
  height: 100%;
  display: inline-block;
  float: left;
}

div.player_bar > div.player-bar-image-area > img {
  height: 100%;
}

div.player_bar > div.player-bar-info {
  display: inline-block;
  padding-left: 3%;
  width: 85%;
  height: 100%;
}

div.player_bar > div.player-bar-info > div.player-bar-title {
  display: block;
  color: #888;
  height: 50%;
  font-weight: bold;
  font-size: 1.2em;
}

div.player_bar > div.player-bar-info > div.player-bar-artist {
  display: block;
  height: 50%;
  font-weight: bold;
}

/************************************************Playlist*******************************************/

ul.playlist > li {
  background-color: #1B1B1B;
  margin-top: 2px;
  margin-bottom: 1%;
  padding-left: 3%;
  padding-top: 1%;
  padding-right: 3%;
  padding-bottom: 1%;
}

ul.playlist > li > div {
  display: inline-block;
}

ul.playlist > li > div.remover, 
ul.playlist > li > div.sort-handler {
  width: 10%;
}

ul.playlist > li > div.content {
  width: 80%;
}

ul.playlist > li > div > a {
  color: #666;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

ul.playlist > li.jp-playlist-current > div > a {
  color: #aaa;
}

ul.playlist > li > div > a > span {
  font-weight: normal;
  color: #444;
}

ul.playlist > li > div > a.jp-playlist-item {
  font-size: 0.5em;
  text-decoration: none;
}

ul.playlist > li > div > a.jp-playlist-item-remove {
  font-weight: normal !important;
  color: #333 !important;
}

ul.playlist > li > div > a.jp-playlist-item-remove:hover {
  text-decoration: none;
  color: #ddd;
}

ul.playlist > li > div.sort-handler {
  width: 10%;
}

/***********************************************Album List***************************************/

div.album-list > div.row {
  background: #000;
  margin-bottom: 5%;
  margin-left: 0;
  margin-right: 0;
}

div.album-list > div.row > div.albumImage {
  width: 15%;
  display: inline-block;
  vertical-align: top;
}

div.album-list > div.row > div.albumImage > img {
  width: 100%;
  position: top;
}

div.album-list > div.row > div.albumInfo {
  width: 83%;
  display: inline-block;
  padding-left: 3%;
}

div.album-list > div.row > div.albumInfo > div.albumTitle {
  display: block;
  color: #888;
  font-size: 1.2em;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.album-list > div.row > div.albumInfo > div.songCount,
div.album-list > div.row > div.albumInfo > div.albumYear {
  display: inline-block;
  width: 49%;
  font-weight: bold;
}

div.album-list > div.row > div.albumInfo > div.albumYear {
  text-align: right;
}

/******************************************Album View***************************************/

div.page-album {
  padding: 0;
}

div.page-album-cover {
  height: 40%;
}

div.page-album-cover > div.page-album-title {
  color: #FFF;
  text-shadow: 0px 0px 10px #000;
  font-weight: bold;
  font-size: 1.4em;
  display: block;
  padding-left: 3%;
}

div.page-album-cover > div.page-album-artist {
  color: #FFF;
  text-shadow: 0px 0px 10px #000;
  top: 0%;
  padding-left: 3%;
  font-size: 1.2em;  
}

div.page-album-cover > div.page-album-songcount {
  color: #FFF;
  text-shadow: 0px 0px 10px #000;
  padding-left: 3%;
  position: absolute;
  bottom: 65%;
}

div.page-album-playlist {
  z-index: 30;
  position: absolute;
  left: 0%;
  width: 100%;
  background: #333 none repeat scroll 0% 0%;
  top: 35%;
  height: 55%;
  overflow: auto;
}

div.page-album-playlist > div {
  width: 100%;
  background-color: #000;
  height: 20%;
}

div.page-album-playlist > div > div.page-album-song-title {
  float: left;
  font-size: 1.4em;
  padding-left: 5%;
  height: 100%;
  width: 85%;
}

div.page-album-playlist > div > div.page-album-song-add {
  background: #FFF none repeat scroll 0% 0%;
  height: 100%;
  float: left;
  display: table;
  text-align: center;
  width: 15%;
}

div.page-album-playlist > div > div.page-album-song-add > span {
  width: 80%;
  height: 80%;
  display: table-cell;
  vertical-align: middle;
}